services:
  api:
    build: .
    container_name: usuarios_api
    ports:
      - "8080:8080"
    depends_on:
      - mysql
    environment:
      - DB_HOST=mysql
      - DB_USER=root
      - DB_PASSWORD=
      - DB_NAME=usuariosdb
    volumes:
      - .:/app
    restart: always

  mysql:
    image: mysql:8.0
    container_name: usuarios_mysql
    environment:
      MYSQL_ROOT_PASSWORD: 
      MYSQL_DATABASE: PIRESTHUGO
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    restart: always

volumes:
  mysql_data: